

<form asp-action="Search" asp-controller="HangHoa">
    <div class="input-group">
    <input type="search" class="form-control p-3" placeholder="keywords" aria-describedby="search-icon-1" name="query">
    <button class="btn p-3 btn-light border">
           <i class="fa fa-search"></i>
        </button>
    </div>
</form>
