
@using static project.Helpers.PaginationHelper
@model PagedResult<project.ViewModels.HangHoaVM>
@{
    ViewData["Title"] = "Shop";
    Layout = "DSHangHoa"; 
    
}

<!-- Single Page Header start -->
@section Breadcrumb{
    @await Html.PartialAsync("SinglePage")
}

<!-- Single Page Header End -->
<!-- Fruits Shop Start-->
<div class="container-fluid fruite py-5">
    <div class="container py-5">


        <div class="row g-4">
            @await Html.PartialAsync("ProductItem", Model.Items)
        </div>

        @if (Model != null)
        {
            <partial name="Pagination" model="Model" />
        }

    </div>
</div>
<!-- Fruits Shop End-->

